* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: sans-serif;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 420px;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

h1 {
  opacity: .9;
}

p {
  opacity: .7;
}

input, button {
  border: none;
  border-radius: .5rem;
  font-size: 1.25rem;
  padding: 1rem;
  width: 100%;
}

input:focus {
  outline: 1px solid blueviolet;
}

button {
  background: blueviolet;
  color: inherit;

  transition: filter .2s;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

#response {
  transition: opacity 10s;
}

#response p {
  color: #fff;
  margin-bottom: .5rem;
}